
#tab{
    width: 90%;
    min-width: 90%;
    border: none;
    float: left;
    max-width: 1800px;
}
.tds{
    width: 11%;
    min-width: 11%;
}

.inputs{
    width: 100%;
    min-width: 100%;
    text-align: center;
}

select{
    width: 100%;
    min-width: 100%;
    text-align: center;
}

#aceptar{
    padding: 10px;
    width: 10%;
    min-width: 10%;
    margin-left: 10px; 
    margin-top: 70px;
    position: fixed; 
    color: rgb(24, 133, 223);
    border: 2px solid rgb(0,0,0);
    right: 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
#add{
    padding: 10px;
    width: 10%;
    min-width: 10%;
    margin-left: 10px; 
    position: fixed;
    color: rgb(24, 133, 223);
    border: 2px solid rgb(0,0,0);
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

#aceptar:hover{
    background-color: darkcyan;
    color: black;                                
}

#add:hover{
background-color: darkcyan;
color: black;
}

#cabecera{
    background:slategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width:800px){
#tab{
        width: 100%;
        min-width: 100%;
    }

#add{
    position: relative;
    width: 150px;
    min-width: 150px;
    margin-top: 20px;
}

#aceptar{
    position: relative;
    width: 160px;
    min-width: 160px;
    margin-top: 20px;
    font-size: 15px;
}

}
@media screen and (max-width:600px){
    #tab{
            width: 200%;
            min-width: 200%;
        }
    }